#wrap p.content-wts, #wrap .content-gsq, #wrap .content-gstartq-host, #wrap .title-wmp-design {font-style: italic; letter-spacing: 0;}
#wrap p.list-gsq, .design-slid1 { letter-spacing: 0;}
#wrap .cursordef { cursor: default !important;}
#wrap p.content-get-r-your-site, #wrap p.content-seo-opt-moblie, #wrap .content-wct-host { letter-spacing: 0;}
#wrap .borderradius { border-radius: 5px;}
#wrap .design-slid1 { text-align: center;}